.NavItems {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 100%;
  transition: left 0.2s ease-in-out;
}

.Children {
  position: fixed;
  top: 0;
  /* transform: translateX(80vw); */
  width: 80vw;
  visibility: visible;
  left: 80vw;
}

.ChildrenVisible {
  position: fixed;
  top: 0;
  /* transform: translateX(0); */
  width: 80vw;
  visibility: visible;
  left: 0;
}

.Left {
  position: fixed;
  top: 0;
  left: -100%;
  width: 80vw;
  /* transform: translateX(-100%); */
}

.Hide {
  display: none;
}

@media (min-width: 500px) {
  .NavItems {
    flex-direction: row;
  }
}
