.NavItems {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 100%;
  position: fixed;
  top: 0;
  width: 80vw;
  transition: left 0.2s ease-in-out;
}





/* .Left {
  left: -100%;
}

.Center {
  left: 0;
}

.Right {
  left: 80vw;
} */


@media (min-width: 500px) {
  .NavItems {
    flex-direction: row;
  }
}
