.BackArrow {
  box-sizing: border-box;
  width: 100%;
  padding-bottom: 2px;
}

.BackArrow a {
  text-decoration: none;
  box-sizing: border-box;
  padding: 15px 20px 15px 20px;
  font-size: 16px;
  color: #111;
  display: flex;
  flex-direction: row;
  justify-content: start;
  height: 51px;
  align-items: center;
}

.BackArrow a.active {
  background-color: #ccc;
}

.LeftArrow {
  font-size: 16px;
  color: #111;
  margin-right: 10px;
}
